button{
    color:aquamarine;
    background-color: black;
    border: 5px solid;
    border-style: outset;
    border-color:rgb(238, 61, 8);
    font-size: x-large;
    width: 75px;
    height: 100px;
    font-size: 50px;
}
button.click{
    background-color:aliceblue;
}
button:hover{
    background-color: darkgray;
}
.output{
    text-align:center;
}
input{
    text-align: center;
    border:5px solid;
    width: 300px;
    height: 75px;
    font-size:50px;

}
.calculator1{
    text-align: center;
}
.calculator2{
    text-align: center;
}
.calculator3{
    text-align: center;
}
.calculator4{
    text-align: center;
}
.delete{
    text-align: center;
}
.del{
    width: 310px;
}